includes:
- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	level: max
	paths:
	- examples/custom-types/expected
	- examples/input/expected
	- examples/polymorphic/expected
	- examples/simple/expected
	- src
	- tests
	tmpDir: %currentWorkingDirectory%/.build/phpstan
	ignoreErrors:
	- '#Call to deprecated method getNamespace\(\) of class Nette\\PhpGenerator\\ClassType#'
	- '#Unsafe usage of new static.*#'

	- '#Default value of the parameter .+ \(string\) of method .+::make\(\) is incompatible with type .+#'
	- '#Default value of the parameter .+ \(string\) of method .+::execute\(\) is incompatible with type .+#'
	- "#Strict comparison using !== between .+ and 'Special default…' will always evaluate to true#"
