includes:
- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	level: max
	inferPrivatePropertyTypeFromConstructor: true
	paths:
	- src
	- tests
	tmpDir: %currentWorkingDirectory%/.build/phpstan
	excludePaths:
	# This is where raw data is magically mapped to typed data
	- %rootDir%/../../../src/TypedObject.php
	ignoreErrors:
	- '#Call to deprecated method getNamespace\(\) of class Nette\\PhpGenerator\\ClassType#'
	- '#Unsafe usage of new static.*#'
	- '#Cannot access property .* on .*\|null#'
